.occaisonItem{
    background-color: #EFF5FE;
    padding:5px 24px;
    border-radius: 24px;
    margin: 5px;;
    cursor:pointer;
    transition:.5s;
}
.active{
    background-color: #609EFC;
    color: #FFFFFF;

}