hr {
  width: 120%;
  margin-left: 0;
  background-color: #c4c4c4;
  opacity: 0.4;
  @media (max-width: 500px) {
    width: 100%;
  }
}
.leftContent__wrapper {
  width: 60%;
  background: #fff;
  @media (max-width: 1250px) {
    width: 100%;
    padding: 0 1.375rem;
  }
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
  }
  .container {
    padding-top: 5.9rem;
    margin-left: 5.06rem;
    width: 60%;
    @media (max-width: 500px) {
      padding-top: 1.375rem;
      margin-left: 0rem;
      width: 100%;
    }
    .container__video {
      .buttons {
        margin-top: 1.43rem;
        display: flex;
        @media (max-width: 500px) {
          margin-top: 2rem;
          flex-direction: column;
          width: 100%;
        }
      }
      .inputandspan {
        margin-top: 2rem;
        margin-bottom: 3.125rem;
        display: flex;
        flex-direction: column;
        @media (max-width: 500px) {
          margin-top:0.5rem ;
          margin-bottom: 2rem;
        }
        span {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 113%;

          color: #505050;
          margin-bottom: 8px;
        }
        .to {
          width: 90%;
          box-sizing: border-box;
          border: none;
          border-radius: 5px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 113%;
          border: 1px solid #c4c4c4;
          background-color: #ffffff;
          background-repeat: no-repeat;
          padding: 8px 20px 8px 40px;
          -webkit-transition: width 0.4s ease-in-out;
          @media (max-width: 500px) {
            width: 100%;
          }
        }

        .to:focus {
          outline: none;
        }
      }
    }
    .container__occasion {
      margin-top: 1.43rem;
      @media (max-width: 500px) {
        margin-top: 2rem;
      }
      .container__occasion_items {
        margin-top: 2rem;
        margin-bottom: 2.5rem;
        margin-left: -5px;
        display: flex;
        flex-wrap: wrap;
      }
    }
    .container__instructions {
      margin-top: 1.43rem;
      @media (max-width: 500px) {
        margin-top: 2rem;
      }
      textarea {
        height: 208px;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #c4c4c4;
        outline: none;
        resize: none;
        padding: 12px 19px;
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        @media (max-width: 500px) {
          height: 248px;
        }
      }
      p {
        margin-top: 1.18rem;
        margin-bottom: 0.5rem;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 113%;
      }
      .max-characters {
        display: flex;
        justify-content: flex-end;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 113%;
      }
      .tip {
        display: flex;
        justify-content: flex-start;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 113%;
        margin-top: 1.313rem;
        @media (max-width: 500px) {
          margin-top:2rem;
        }
      }
    }
    .container__delivery {
      margin-top: 1.43rem;
    }
    .container__hearAbout {
      margin-top: 1.43rem;
      @media (max-width: 500px) {
        margin-top: 2rem;
      }
      .container__hearAbout_title {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 113%;
        color: #505050;
        @media (max-width: 500px) {
        }
      }
      .container__hearAbout_btn {
        border:none;
        margin: 0 auto;
        margin-top: 4.87rem;
        margin-bottom: 17.93rem;

        padding: 15px 0px;
        border-radius: 5px;
        width: 50%;
        background: #505050;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 113%;
        color: #ffffff;
        cursor: pointer;
        @media (max-width: 500px) {
          width: 90%;
          margin-bottom: 3rem;
          margin-top: 3rem;
        }
      }
      .container__hearAbout_btn:active,button:focus {
        outline: none !important;
      }
      .disabled {
        background: #b8b6b6;
        color: #e7e7e7;
        cursor: no-drop;
      }
    }
  }
}
